@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&display=swap');
.accordion-button,
.collapsed{
    width: 100%;
    border-color: transparent;
    background-color: white;
    outline: none;
}
.card-header{
    background-color: white;
}