@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles&display=swap');
.title {
    font-size: 55px;
    font-family: 'Montserrat', sans-serif;
    color:#3b0550;
  }
  p{
    letter-spacing: 1px;
  font-family: 'Fuzzy Bubbles', cursive; 
    color: #3b0550;
}
  .subtitle {
    font-size: 25px;
    padding-top: 10px;
  }
  .intro-text {
    width: 100%;
    text-align: center;
  }
  .main {
    min-height: 93vh;
    display: flex;
    align-items: center;
    background-image: url("../../cool-background.png");
    background-position: center;
    background-size: cover;
  }
  .buttonContainer {
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
  }
  
  .landingbutton {
    width: 200px;
    height: 55px;
  }
  
  @media only screen and (min-width: 1200px) {
    .buttonContainer {
      padding: 0 200px;
    }
    .title {
      padding: 0 100px;
    }
  }
  
  @media only screen and (max-width: 768px) {
    .title {
      font-size: 60px;
    }
    .landingbutton {
      width: 150px;
      height: 50px;
    }
  }